@page "/"

<h1>Autocomplete Cage Match!</h1>

<div class="container">
    <div class="row">
        <div class="col">
            Da Classic
        </div>
        <div class="col">
            Timer
        </div>
    </div>
    <div class="row">
        <div class="col">
            <AutoComplete />
        </div>
        <div class="col">
            <TimerComplete />
        </div>
    </div>

    <div class="row">
        <div class="col">
            Easy Way
        </div>
        <div class="col">
            Rx
        </div>
    </div>
    <div class="row">
        <div class="col">
            <DebounceComplete />
        </div>
        <div class="col">
            <RxDebounceComplete />
        </div>
    </div>
</div>
